/* indexคือCSSหลัก
อันนี้เอาไว้ทดสอบcode
ทำในอันนี้ก่อนก็ได้ค่อยเอาไป
ใส่จริงในindex
อย่าระเบิดcodeเรานะขอร้อง
indexคือCSSหลัก
อันนี้เอาไว้ทดสอบcode
ทำในอันนี้ก่อนก็ได้ค่อยเอาไป
ใส่จริงในindex
อย่าระเบิดcodeเรานะขอร้อง
indexคือCSSหลัก
อันนี้เอาไว้ทดสอบcode
ทำในอันนี้ก่อนก็ได้ค่อยเอาไป
ใส่จริงในindex
อย่าระเบิดcodeเรานะขอร้อง
indexคือCSSหลัก
อันนี้เอาไว้ทดสอบcode
ทำในอันนี้ก่อนก็ได้ค่อยเอาไป
ใส่จริงในindex
อย่าระเบิดcodeเรานะขอร้อง
indexคือCSSหลัก
อันนี้เอาไว้ทดสอบcode
ทำในอันนี้ก่อนก็ได้ค่อยเอาไป
ใส่จริงในindex
อย่าระเบิดcodeเรานะขอร้อง
indexคือCSSหลัก
อันนี้เอาไว้ทดสอบcode
ทำในอันนี้ก่อนก็ได้ค่อยเอาไป
ใส่จริงในindex
อย่าระเบิดcodeเรานะขอร้อง
indexคือCSSหลัก
อันนี้เอาไว้ทดสอบcode
ทำในอันนี้ก่อนก็ได้ค่อยเอาไป
ใส่จริงในindex
อย่าระเบิดcodeเรานะขอร้อง */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --offset-top:20%
}
/* ส่วนหัว */
body,html{
    height: 100%;
    margin: 0;
}
#page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    padding: 30px 0;
    background-color: #ff9800;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.left img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    padding: 4px;
}
.title h1{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}
.title p{
    margin: 0;
    font-size: 20px;
}
.right{
    font-size: 19px;
    font-weight: bold;
    align-self: center;
}
.topnav{
    list-style-type: none;
    margin: 0;
    background-color: #757575;
    padding: 0;
    overflow: hidden;
    align-items: center;
}
/* จบส่วนหัว */
/* ส่วนของหน้าlogin */
.login{
    float: right;
    list-style-type: none;
    margin: 0;
    background-color: #757575;
    padding: 0;
    overflow: hidden;
}
.login li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background-color: #9e9e9e;
    border-radius: 25px;
    margin: 8px;
    font-weight: bold;
}
.content-card{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 24px 16px;
}
.login-card{
    width: 80%;
    max-width: 900px;
    min-height: 500px;
    background: #bdbdbd;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 12px azure;
}
.login-card input{
  width: 50%;
  padding: 5px;
  font-size: 18px;
}
.button ul li{
    margin-bottom: 5px;
    font-size: 16px;
}
.button ul li a{
    color: blue;
    text-decoration: none;
    font-size: 16px;
}
.button ul li a:hover{
    text-decoration: underline;
}
/* จบส่วนหน้าlogin */
.topnav li{
    float: left;
}
.topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav li a:hover{
    background-color: #cfd8dc;
    color: black;
}
.content{
    flex: 1;
    display: block;
}
.content::after{
    content: "";
    display: block;
    clear: both;
}
.profile-pic{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
/* ส่วนของข้อมูลส่วนตัว */
.form-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background: #9e9e9e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}
/* จบส่วนข้อมูลส่วนตัว */
/* ส่วนของตราง */
table{
    border: 1px solid black;
    margin: 16px 0;
    width: 90%;
}
th,td{
    border: 1px solid black;
    text-align: left;
    border: 1px solid black;
}
/* จบส่วนของตาราง */
.image{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px auto;
}
.image img{
    width: auto;
    height: 500px;
}
/* ส่วนของfooter */
footer{
    position: static;
    width: 100%;
    background-color: #757575;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px 20px;
    box-sizing: border-box;
    clear: both;
    margin-top: auto;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-left h3,
.footer-right h3{
    margin: 0 0 10px 0;
    color: #ff9800;
    font-size: 16px;
}
.footer-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.foot-left ul li{
    margin-bottom: 5px;
    font-size: 16px;
}
.footer-left ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.foot-left ul li a:hover{
    text-decoration: underline;
}
.footer-right p{
    margin: 4px 0;
    font-size: 16px;
}
/* จบส่วนfooter */



/*หน้า user*/
.user-box {
    text-align: center;
    border-radius: 10px;
}

.user-btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #757575;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.user-btn:hover {
    background-color: #9e9e9e;
}
/* จบส่วน user */

/*ส่วนอนุมัติ/ส่งกลับ/submit*/
.approve {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.approve:hover{
    background-color: #4caf50;
}

.reject {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.reject:hover{
    background-color: #f44336;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
}

.submit {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.submit:hover{
    background-color: #1976d2;
}
/*จบส่วนอนุมัติ/ส่งกลับ/submit*/

/*ส่วนของจำนวนโครงงาน*/
.dashboard-summary {
  margin-bottom: 30px;
}

.summary-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}
/*ส่วนของจำนวนโครงงาน*/

/*ส่วนของประกาศ*/
.student-list table,
.notifications ul {
  margin-top: 15px;
}

.notifications ul {
  list-style: none;
  padding-left: 0;
}

.notifications li {
  margin-bottom: 10px;
  background: #fff3cd;
  padding: 10px;
  border-left: 5px solid #ffc107;
}
/*จบส่วนของประกาศ*/

/*ส่วนของรายละเอียดโครงงาน*/
.project-detail {
  background-color: #f9f9f9;
  border-radius: 8px;
}

.project-info p,
.project-info ul {
  margin-bottom: 10px;
  font-size: 16px;
}

.project-info ul {
  list-style: disc;
}
/*จบส่วนของรายละเอียดโครงงาน*/

/*ส่วนแบบฟอร์ม*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*ส่วนแบบฟอร์ม*/

/*ส่วนปุ่มยื่นคำร้องจบ*/
button {
  width: 100%;
  padding: 12px;
  background-color: #757575;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #757575;
}
/*จบส่วนปุ่มยื่นคำร้องจบ*/

/*กล่องความคิดเห็น*/
textarea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical; /* ให้ปรับความสูงได้ แต่ไม่บังคับ */
  margin-bottom: 15px;
  box-sizing: border-box;
}
/*จบกล่องความคิดเห็น*/